body {
    font-family: Calibri, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header, footer {
    background-color: rosybrown;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  h1 {
    margin: 0.5em;
  }
  
  main {
    margin: 0 auto;
    max-width: 800px;
    padding: 1em;
    display:flex;
    justify-content: space-around;
  }
  section {
    height: 100%;
  }
  pre {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1em;
    overflow: auto;
    height: auto;
  }